.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

        p
            strong.mr-2 Coproducción largometraje colombiano:
            | 1 colombiano + 1 extranjero, Capital > 20 %, artistas > 70 % duración > 70 min.

        p
            strong.mr-2 Cortometraje colombiano:
            | capital > 51 %, técnicos > 51 %, artistas > 70 %, duración en pantalla 70 minutos o más.

        p
            strong.mr-2 Distribuidor:
            | comercializa los derechos de exhibición de obras cinematográficas.

        p
            strong.mr-2 Empresa Cinematográfica:
            | capital superior al cincuenta y uno por ciento (51 %) y cuyo objeto sea la narración hecha con imágenes y sonidos.

        p
            strong.mr-2 Exhibidor:
            | tiene a su cargo la explotación de una sala de cine.

        p
            strong.mr-2 Fondo Fílmico Colombia:
            | cuenta especial del Ministerio de Comercio, Industria y Turismo, a través de la cual se administran los recursos transferidos del presupuesto general de la nación en virtud de la Ley 1556 de 2012.

        p
            strong.mr-2 Fondo para el Desarrollo Cinematográfico:
            | cuenta especial a través de la cual se administran los recursos de la Cuota para el desarrollo cinematográfico.

        p
            strong.mr-2 Largometraje colombiano:
            | capital > 51 %, técnicos > 51 %, artistas > 70 %, duración en pantalla 70 minutos o más.

        p
            strong.mr-2 Ministerio de Cultura:
            | organismo rector de la cultura encargado de formular, coordinar, ejecutar y vigilar la política del Estado en la materia.

        p
            strong.mr-2 Proimágenes Colombia:
            | fondo mixto que busca la consolidación del sector cinematográfico colombiano, a través de la concertación de políticas públicas y sectoriales. Además, recauda los recursos de la cuota para el desarrollo cinematográfico y los ejecuta eficientemente.
