.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Autor, (año del documento o material),  Nombre del documento o material.
                    th.text-center Tipo de material ( Video, capítulo de libro, articulo, otro) 
                    th.text-center(style="width:150px") Enlace del Recurso o Archivo del documento o material

            tbody

            
                tr
                    td Revista Credencial, (2016), Credencial Historia	
                    td Artículo
                    td 
                        a(href="http://www.revistacredencial.com/credencial/historia/temas/el-drama-del-15-de-octubre-f-didomenico", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver

                tr
                    td Ministerio de Cultura, (s.f.), Normas del Cine en Colombia 

                    td Cartilla
                    td 
                        a(href="https://www.mincultura.gov.co/areas/cinematografia/Legislacion/Documents/Cartilla%20-%20Normas%20del%20Cine%20en%20Colombia.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver

                tr
                    td Acuerdo 038 de 2017, (2017), Manual de asignación de recursos

                    td PDF
                    td 
                        a(href="media/documentos/complementarios/Manual_de_asignacion_de_recursos.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar                                     
