.container#page-tema-1

    .header-ecored
        h1 1. Antecedentes

    .jumbotron.bg-white 

      .row.justify-content-center.align-items-center.my-5 

        p Bucaramanga, Cartagena y Bogotá fueron las primeras ciudades que disfrutaron de funciones de imágenes en movimiento extranjeras, gracias a la llegada al país, a finales del siglo XIX, del primer cinematógrafo.

        p Posteriormente, los italianos Francesco y Vincenzo Di Doménico arribaron a Colombia con sus equipos de producción, incentivando el deseo de iniciar la producción nacional, hasta el punto de crear la Sociedad Industrial Cinematográfica Latinoamericana (SICLA), a través de la cual realizaron grabaciones de sucesos en la capital, que proyectaban antes de las películas extranjeras.

      .row.justify-content-center.align-items-center.my-5    
        img(src="assets/images/pages/tema-1/Imagen1.svg", alt="").img-fluid

      hr.bd-hr-blue     
      .timeline

        .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
          .col-10.col-md-5.order-3.order-md-1.timeline-content
              p.px-5.py-5 La primera película nacional, de la cual se tienen registros, fue filmada por ellos en 1915, titulada “El drama del 15 de octubre”, en la cual se representaba la muerte de Rafael Uribe Uribe. Después, se grabaron historias de ficción basadas en obras literarias de la época, como María, de Jorge Isaac y Aura o las violetas, de José María Vargas Vila; ambas producidas por la compañía de los Di Doménico, con cierto éxito de taquilla, lo que generó la catalogación de la exhibición cinematográfica como un espectáculo público y, por lo tanto, fue incluido en la política fiscal. 
          .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date
              time.text-title En 1915
          .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
              img.img-fluid(src='assets/images/pages/ilustraciones/time.png', alt='img')

        .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
          .col-10.col-md-5.order-3.order-md-1.timeline-content
              p.px-5.py-5 Con el Acuerdo Número 1 del Concejo de Bogotá, por primera vez se grabó la exhibición cinematográfica, destinando el 10 % del valor de la boleta de entrada a las salas de cine, al Fondo de Pobres, con el fin de proteger a las personas desprovistas de todo recurso, que ejercieran públicamente la mendicidad, recogiéndolas en casas de beneficencia. 
          .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date
              time.text-title En 1918
          .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
              img.img-fluid(src='assets/images/pages/ilustraciones/time.png', alt='img')
              
        .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
          .col-10.col-md-5.order-3.order-md-1.timeline-content
              p.px-5.py-5 Se decretó el cobro de un impuesto al espectáculo cinematográfico, justificado en la inmoralidad de las exhibiciones y la mala influencia que tenía en la juventud de la época. El cine fue considerado un vicio, como el alcohol o el juego, y se tomaron medidas para contrarrestar sus efectos. En principio se fijó un pago del 5 % del total de entradas disponibles por función, pero muchas veces estas funciones no se llenaban totalmente, por lo que los nuevos empresarios de la industria del cine protestaron y consiguieron, después de varias discusiones, que se cobrara esta tarifa sobre el total de entradas vendidas.  
          .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date
              time.text-title En 1920
          .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
              img.img-fluid(src='assets/images/pages/ilustraciones/time.png', alt='img')
              
        .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
          .col-10.col-md-5.order-3.order-md-1.timeline-content
              p.px-5.py-5 Fue la creación de la oficina de cine de la Sección de Cultura Popular del Ministerio de Educación, idea del ministro Jorge Eliécer Gaitán, que, aunque tuvo buenas intenciones y trajo equipos para impulsar la producción, no logró en el país el impacto esperado. No obstante, las industrias cinematográficas de Brasil, México y Argentina sí se desarrollaron, y a falta de producciones nacionales, inundaron las pantallas colombianas, por lo que producciones como Cantinflas, Rin Tin Tin, Tarzán, Lassie y las películas de Walt Disney, empezaron a tener una gran incidencia en la cultura del país.  
          .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date
              time.text-title A finales de los años 30
          .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
              img.img-fluid(src='assets/images/pages/ilustraciones/time.png', alt='img')
              
        .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
          .col-10.col-md-5.order-3.order-md-1.timeline-content
              p.px-5.py-5 Como consecuencia, en el segundo gobierno del presidente López Pumarejo, se aprobó la primera ley de fomento del cine, la Ley 9 de 1942, en la cual se nota que el cine se entendía como un medio cultural de propaganda nacionalista y un instrumento educativo, artístico y de entretenimiento. Además, se contemplaba la supresión de aranceles de aduana a la materia prima cinematográfica y la exención de impuestos a los teatros que presentaran cine nacional. También se destaca la reglamentación que generó el Decreto 1039, por medio del cual se obligó a las empresas cinematográficas a producir mensualmente un noticiero o documental de 10 minutos.   
          .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date
              time.text-title En 1942
          .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
              img.img-fluid(src='assets/images/pages/ilustraciones/time.png', alt='img')
              
        .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
          .col-10.col-md-5.order-3.order-md-1.timeline-content
              p.px-5.py-5 Abundaron las producciones, aunque no fue posible consolidar una industria sostenible, dada la estructura económica del momento y las deficiencias de la ley. Posteriormente, durante el gobierno del General Rojas Pinilla (1953 – 1957), se aprobó la Ley 197, mediante la cual se creó la Junta Nacional de Clasificación de Películas Cinematográficas, con la equivocación de no incluir una representación social suficiente y no justificar sus decisiones.
          .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date
              time.text-title Entre 1943 y 1945
          .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
              img.img-fluid(src='assets/images/pages/ilustraciones/time.png', alt='img')
              
        .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
          .col-10.col-md-5.order-3.order-md-1.timeline-content
              p.px-5.py-5 Durante el gobierno de Lleras Restrepo se creó un Comité de Revisión, con potestad para cuestionar las decisiones de la Junta Nacional de Clasificación de Películas Cinematográficas (creada en el gobierno de Rojas Pinilla), y también, para que se abstuviera de clasificar las producciones.
          .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date
              time.text-title Entre 1966 y 1970
          .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
              img.img-fluid(src='assets/images/pages/ilustraciones/time.png', alt='img')
              
        .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
          .col-10.col-md-5.order-3.order-md-1.timeline-content
              p.px-5.py-5 A través del Decreto 879 se reglamentaron algunas definiciones de la Ley 9 de 1942. Este decreto es conocido popularmente como la Ley del Sobreprecio a las entradas a las salas de cine. Los recursos obtenidos por este medio se invirtieron en la producción de cortometrajes que sirvieron como prácticas para actores, productores y personas involucradas en la industria, productos que no fueron de muy buena calidad.
          .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date
              time.text-title En 1971
          .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
              img.img-fluid(src='assets/images/pages/ilustraciones/time.png', alt='img')
              
        .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
          .col-10.col-md-5.order-3.order-md-1.timeline-content
              p.px-5.py-5 Ante la evidencia de que una industria cinematográfica no era posible sin apoyo del Estado, mediante el Decreto 1244 se autorizó al Instituto Nacional de Radio y Televisión (Inravisión), a la Corporación Financiera Popular y a la Compañía de Informaciones Audiovisuales, a participar en la constitución de la Compañía de Fomento Cinematográfico (FOCINE); una empresa industrial y comercial del Estado, vinculada al Ministerio de Comunicaciones y cuyo objetivo era la implementación de políticas que impactaran la industria cinematográfica, el recaudo, administración e inversión de los recursos captados por el Fondo de Fomento Cinematográfico.
          .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date
              time.text-title En 1978
          .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
              img.img-fluid(src='assets/images/pages/ilustraciones/time.png', alt='img')
      hr.bd-hr-blue     

      .row.justify-content-center.align-items-center.my-5 

        p Como consecuencia, durante aproximadamente 15 años, y bajo distintos modelos de apoyo reembolsables, se realizaron 45 largometrajes, 84 mediometrajes y 64 documentales, que lastimosamente agotaron los recursos de la corporación, debido a que los creadores cinematográficos no cumplieron sus compromisos de pago, por el bajo retorno financiero de las películas, y la única opción del fondo fue hacerse propietario de los derechos como cancelación de la deuda. 