.container#page-tema-3

    .header-ecored
      h1 4. Decreto 1080 de 2015

    .jumbotron.bg-white
      .row.justify-content.my-5 
        p Debido al gran número de leyes, decretos y resoluciones que han sido expedidas para reglamentar distintos temas relacionados con la cultura, el ministerio de esta cartera, promovió la creación del Decreto Único Reglamentario del Sector Cultura, con el fin de consolidar la normatividad ya existente, precisar temas que a esa fecha no se encontraban claros y facilitar su consulta.

        p El primer tema en relación con el audiovisual es el depósito legal. En la parte VIII, el título 1, menciona:
        
        section.my-5
            .card
                .card-body
                    .question.mt-2           
                        .question-header
                            .question-number
                                i.fa.fa-lg.fa-gavel 
                            .question-title
                                span Artículo 2.8.1.1. Biblioteca Nacional de Colombia - Depósito Legal.
                        .question-body                
                            p.mb-5 Definición. Para los efectos del artículo 7 de la Ley 44 de 1993, se entiende por Depósito Legal la obligación que se impone a todo editor de obras impresas, productor de obras audiovisuales y productor de fonogramas en Colombia, y a todo importador de obras impresas, obras audiovisuales y fonogramas, entregar para su conservación en las y por las cantidades determinadas en el presente Decreto, ejemplares de la obra impresa, audiovisual o fonograma producidos en el país o importados, con el propósito de guardar memoria de la producción literaria, audiovisual y fonográfica y acrecentar el patrimonio cultural.

      .row.justify-content.my-5 
        p Más adelante, en la parte X, se enfoca en la cinematografía, y lo primero que define es la competencia para reconocer la nacionalidad colombiana de una obra y el plazo que tiene la entidad para emitir la certificación:


        section.my-5
            .card
                .card-body
                    .question.mt-2           
                        .question-header
                            .question-number
                                i.fa.fa-lg.fa-gavel 
                            .question-title
                                span Artículo 2.10.1.2. Competencia para certificar o reconocer la nacionalidad colombiana de la obra cinematográfica.
                        .question-body                
                            p.mb-5 Todos los efectos, en especial para los relativos a la concesión de estímulos y beneficios previstos en normas anteriores, o las que con posterioridad se dicten, así como para actuaciones a la circulación de obras cinematográficas, corresponde al Ministerio de Cultura certificar el carácter de producto nacional de la obra cinematográfica.

        section.my-5
            .card
                .card-body
                    .question.mt-2           
                        .question-header
                            .question-number
                                i.fa.fa-lg.fa-gavel 
                            .question-title
                                span Artículo 2.10.1.4. Plazo para certificar.
                        .question-body                
                            p.mb-5 La certificación de producto nacional de la obra cinematográfica, cuando proceda, será expedida por el Ministerio de Cultura dentro del término máximo de quince (15) días, a partir de la radicación de la solicitud en debida forma. El requerimiento institucional de documentos adicionales o aclaraciones se hará dentro del plazo máximo de diez (10) días siguientes a dicha radicación. 

      .row.justify-content.my-5 
        p El incumplimiento injustificado de este plazo hará acreedor al funcionario competente de las sanciones previstas en el Código Disciplinario Único y en las normas que lo modifiquen o adicionen.

        p Esta certificación es indispensable para exhibir comercialmente o en un festival, cualquier obra audiovisual, bien sea un largometraje o un cortometraje. Para solicitarla se deben cumplir los requisitos definidos en la Resolución 1708 de 2009:


        section.my-5
            .card
                .card-body
                    .question.mt-2           
                        .question-header
                            .question-number
                                i.fa.fa-lg.fa-gavel 
                            .question-title
                                span Artículo 2º. Requisitos para el reconocimiento o certificación de producto nacional de la obra cinematográfica.
                        .question-body                
                            p.mb-5 De conformidad con lo previsto en el artículo 5º del decreto 358 de 2000, el interesado en obtener el reconocimiento o certificación de producto nacional de la obra cinematográfica deberá presentar ante la Dirección de Cinematografía del Ministerio de Cultura, los siguientes documentos:
                            .row.justify-content-between.align-items-start.mt-5
                                .col-12.col-lg-6
                                    p.header-step
                                        span.header-step-number 01
                                        span.header-step-title Solicitud escrita, suscrita por el productor de la película, representante legal de la empresa cuando se trate de personas jurídicas. El solicitante deberá identificarse plenamente, anexar copia de la cédula de ciudadanía si es colombiano, manifestar la calidad en la que actúa e informar la dirección en la que recibirá comunicaciones. 
                                    hr
                                    p.header-step
                                        span.header-step-number 02
                                        span.header-step-title Certificado de constitución y gerencia de la empresa o empresas nacionales participantes en la producción o coproducción. 

                                    hr
                                    p.header-step
                                        span.header-step-number 03
                                        span.header-step-title Especificación del título de la obra, tiempo de duración en pantalla, fechas del primer y último día de rodaje (día, mes, año) y lugares de filmación.
                                    hr
                                    p.header-step
                                        span.header-step-number 04
                                        span.header-step-title Costo discriminado de la película, en el que se registra el porcentaje total de participación económica nacional y extranjera. Este documento, requerido para las producciones y coproducciones, debe contener el costo total de la película, el costo destinado a la contratación de autores, actores, locaciones, actividades de preproducción, producción y postproducción, así como la información relevante al propósito de presentar un costo total y discriminado por rubros de la película. La Dirección de Cinematografía podrá adoptar un formato de presupuesto para estos efectos, el cual será de uso obligatorio en este trámite. 
                                    hr
                                    p.header-step
                                        span.header-step-number 05
                                        span.header-step-title En caso de producción conjunta entre personas naturales y/o jurídicas colombianas, copia de los contratos entre ellas celebrados.
                                    hr
                                    p.header-step
                                        span.header-step-number 06
                                        span.header-step-title Copia del contrato o contratos de coproducción, para las obras realizadas bajo este régimen.
                                    hr
                                    p.header-step
                                        span.header-step-number 07
                                        span.header-step-title Para las coproducciones de largometraje, acreditación mediante ficha técnica u otro medio similar, en los cuales se evidencie que el personal artístico colombiano de la coproducción con el cual se pretenda acreditar el porcentaje de participación artística nacional, ha participado al menos en otra obra cinematográfica con anterioridad o, a elección del solicitante, mediante la declaración escrita de dos (2) productores, directores o realizadores nacionales, sobre el valor y aporte de aquellos a la obra cinematográfica cuyo reconocimiento se solicita. 
                                    hr
                                .col-12.col-lg-6
                                    p.header-step
                                        span.header-step-number 08
                                        span.header-step-title Ficha técnica y artística del personal que interviene en la obra cinematográfica, con indicación de las labores desempeñadas, las cuales deben coincidir con las que aparecen en los créditos de la misma. La Dirección de Cinematografía podrá hacer las equivalencias necesarias entre las posiciones descritas en la ficha técnica y las posiciones que señala el decreto 358 de 2000, modificado por el decreto 763 de 2009, siempre que las posiciones reportadas en la ficha técnica para cumplimiento de porcentajes de nacionalidad, no sean inferiores a los requeridos en el referido decreto. 
                                    hr
                                    p.header-step
                                        span.header-step-number 09
                                        span.header-step-title Copia de los contratos con los artistas y técnicos participantes en la obra, en relación con los cuales pretenda darse cumplimiento a los porcentajes de participación artística y técnica nacional previstos en el decreto 358 de 2000, modificado por el decreto 763 de 2009, según se trate de una producción o coproducción. También se adjuntará fotocopia de las cédulas de ciudadanía de dicho personal. 
                                    hr
                                    p.header-step
                                        span.header-step-number 10
                                        span.header-step-title Lugar de los procesos de laboratorio y lugar de depósito del soporte original de la obra o, en su caso, del negativo o en su defecto de los demás elementos de tiraje de la película, entendiendo por tales el internegativo, el dupe-negativo o interpositivo. Del mismo modo, se adjuntan los datos de contacto del depositario de estos elementos. 
                                    hr
                                    p.header-step
                                        span.header-step-number 11
                                        span.header-step-title Declarar si para el momento de la solicitud se realizó el depósito legal de la obra cinematográfica de acuerdo con lo dispuesto en el decreto 460 de 1995 o las normas que lo modifiquen. Se entiende que si dicho depósito no ha sido efectuado, el solicitante deberá cumplir con el mismo de acuerdo con las condiciones previstas en el artículo 19º del decreto 358 de 2000, mediante entrega a la Biblioteca Nacional de Colombia o a la entidad especializada que mediante convenio se determine, de uno de los elementos de tiraje mencionados en el numeral 10, o de una copia, en el soporte original, de excelentes condiciones técnicas. 
                                    hr

      .row.justify-content.my-5 
        p En caso de que al momento de la solicitud hubieran transcurrido más de sesenta (60) días siguientes a la reproducción o comunicación pública de la obra, el solicitante deberá anexar constancia de haberse efectuado el depósito legal. Si este depósito no se hubiera efectuado de acuerdo con los parámetros señalados en el artículo 19º del decreto 358 de 2000 o las normas que lo modifiquen, deberá ajustarse al mismo con posterioridad al reconocimiento. 

        p Según lo dispuesto en dicha norma, el Depósito Legal de las obras cinematográficas reconocidas como producto nacional comprende igualmente la entrega de los afiches, fotografías, sinopsis y ficha técnica, anuncios de prensa y comentarios de prensa de la película, por lo menos en la cantidad de un ejemplar de cada uno. 


        .row.justify-content-center.mt-5
            .col-10.col-md-8
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/paragrafo.png").img-fluid
                        p.card__copy 
                            span 
                                | Parágrafo Primero. Dentro del término máximo para certificar o reconocer el carácter de producto nacional de la obra cinematográfica, la Dirección de Cinematografía podrá solicitar al interesado la exhibición privada de la película, quien sufragará los gastos necesarios.

        .row.justify-content-center.mt-5
            .col-10.col-md-8
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/paragrafo.png").img-fluid
                        p.card__copy 
                            span 
                                | Parágrafo Segundo. Los documentos aportados por el solicitante deberán acreditar el cumplimiento de los porcentajes de participación económica, artística, técnica y de cualificación artística, dispuestos en las normas vigentes en materia de corto y largometraje, y reglamentados en el decreto 358 de 2000, modificado por el decreto 763 de 2009 según se trate de una producción o coproducción nacional. 

        .row.justify-content-center.mt-5
            .col-10.col-md-8
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/paragrafo.png").img-fluid
                        p.card__copy 
                            span 
                                | Parágrafo Tercero. Los documentos previstos en este artículo se aportarán traducidos al español, cuando originalmente estuvieran en otro idioma. 

        .row.justify-content-center.mt-5
            .col-10.col-md-8
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/paragrafo.png").img-fluid
                        p.card__copy 
                            span 
                                | Parágrafo Cuarto. La solicitud de reconocimiento puede efectuarse por intermedio de apoderado debidamente facultado. 

        .row.justify-content-center.mt-5
            .col-10.col-md-8
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/paragrafo.png").img-fluid
                        p.card__copy 
                            span 
                                | Parágrafo Quinto. En casos de duda, la Dirección de Cinematografía podrá solicitar aclaraciones y documentos que prueben o ratifiquen los requisitos aportados.

      .row.justify-content.my-5 
        p A partir del artículo 2.10.1.5. se discriminan los requisitos de personal técnico y artístico que las producciones de ficción, documental y animación deben cumplir. A continuación, se indica el resumen:<br><br>
        
      .row
        .col-12
          .header-arrow.my-5
            h3.text-center Porcentaje de artistas colombianos en la producción nacional – Ficción

      .row.justify-content-center.align-items-center  
        img(src="assets/images/pages/tema-4/Imagen1.png", alt="").img-fluid

      .row
        .col-12
          .header-arrow.my-5
            h3.text-center Porcentaje de artistas colombianos en la producción nacional – Documental

      .row.justify-content-center.align-items-center.my-5    
        img(src="assets/images/pages/tema-4/Imagen2.png", alt="").img-fluid

      .row
        .col-12
          .header-arrow.my-5
            h3.text-center Porcentaje de artistas colombianos en la producción nacional – Animación

      .row.justify-content-center.align-items-center.my-5    
        img(src="assets/images/pages/tema-4/Imagen3.png", alt="").img-fluid

      .row.justify-content
        p Las personas con las cuales se acredita la participación deben desempeñarse en cargos diferentes.

        p Cuando se trate de la coproducción de un largometraje colombiano, los porcentajes de participación técnica y artística se determinan de acuerdo con la participación económica así:

      .row
        .col-12
          .header-arrow.my-5
            h3.text-center Personal técnico

      .row.justify-content-center.align-items-center.my-5    
        img(src="assets/images/pages/tema-4/Imagen4.png", alt="").img-fluid

      .row
        .col-12
          .header-arrow.my-5
            h3.text-center Personal artístico

      .row.justify-content-center.align-items-center.my-5    
        img(src="assets/images/pages/tema-4/Imagen5.png", alt="").img-fluid

      .row.justify-content
        p  La lista del personal técnico elegible para largometrajes es la siguiente:

      .row
        .col-12
          .header-arrow.my-5
            h3.text-center Largometraje de ficción

      .row.justify-content-center.align-items-center.my-5    
        img(src="assets/images/pages/tema-4/Imagen6.png", alt="").img-fluid

      .row
        .col-12
          .header-arrow.my-5
            h3.text-center Largometraje documental

      .row.justify-content-center.align-items-center.my-5    
        img(src="assets/images/pages/tema-4/Imagen7.png", alt="").img-fluid

      .row
        .col-12
          .header-arrow.my-5
            h3.text-center Largometraje de animación

      .row.justify-content-center.align-items-center.my-5    
        img(src="assets/images/pages/tema-4/Imagen8.png", alt="").img-fluid

      .row.justify-content.my-5 
        p  Si una coproducción de largometraje de ficción, documental o animación cuenta entre su personal artístico con la participación de un director de nacionalidad colombiana, este equivaldrá a dos participaciones según la tabla arriba establecida. 

      section.my-5
          .card
              .card-body
                  .question.mt-2           
                      .question-header
                          .question-number
                              i.fa.fa-lg.fa-gavel 
                          .question-title
                              span Artículo 2.10.1.10. Cortometraje nacional.
                      .question-body                
                          p.mb-5 Se considera producción o coproducción nacional de cortometraje la que, reuniendo porcentajes de participación económica, artística y técnica colombianos iguales a los previstos en cada caso por los artículos 43 y 44 de la ley 397 de 1997, tenga una duración inferior a 70 minutos en pantalla de cine o inferior a 52 minutos para otros medios de exhibición.

      .row.justify-content.my-5 
        p La duración mínima de los cortometrajes nacionales es de 7 minutos, de conformidad con el artículo 3º de la Ley 814 de 2003.

        p Para cortometrajes de coproducción nacional no se requiere la participación de personal técnico.

