.container#page-tema-3

    .header-ecored
      h1 3.	Ley de Cine

    .jumbotron.bg-white
      .row.justify-content.my-5 
        p Por la cual se dictan normas para el fomento de la actividad cinematográfica en Colombia.

        p En agosto de 2003 se aprobó la Ley 814 o Ley de Cine para afianzar el objetivo de propiciar un desarrollo progresivo, armónico y equitativo de la cinematografía colombiana, entendida como el conjunto de acciones públicas y privadas que se interrelacionan para gestar el desarrollo artístico e industrial de la creación y producción audiovisual.

        p Para dar claridad a las normas relacionadas con la actividad cinematográfica se incluyeron las siguientes definiciones:


        section.my-5
            .card
                .card-body
                    .question.mt-2           
                        .question-header
                            .question-number
                                i.fa.fa-lg.fa-tint.fa-gavel 
                            .question-title
                                span Artículo 3°. Definiciones. 
                        .question-body                
                            .row.justify-content-between.align-items-start.mt-5
                                .col-12.col-lg-6
                                    p.header-step
                                        span.header-step-number 01
                                        span.header-step-title Sala de cine o sala de exhibición. Local abierto al público, dotado de una pantalla de proyección, que mediante el pago de un precio o cualquier otra modalidad de negociación, confiere el derecho de ingreso a la proyección de películas en cualquier soporte.
                                    hr
                                    p.header-step
                                        span.header-step-number 02
                                        span.header-step-title Exhibidor. Quien tiene a su cargo la explotación de una sala de cine o sala de exhibición, como propietario, arrendatario, concesionario, o bajo cualquier otra forma que le confiera tal derecho. 

                                    hr
                                .col-12.col-lg-6
                                    p.header-step
                                        span.header-step-number 03
                                        span.header-step-title Distribuidor. Quien se dedica a la comercialización de derechos de exhibición de obras cinematográficas en cualquier medio o soporte. 
                                    hr
                                    p.header-step
                                        span.header-step-number 04
                                        span.header-step-title Agentes o sectores de la industria cinematográfica. Productores, distribuidores, exhibidores, o cualquier otra persona que realice acciones similares o correlacionadas directamente con esta industria cultural.
                                    hr


      .row.justify-content-center.align-items-center.my-5    
        img(src="assets/images/pages/tema-3/Imagen1.png", alt="").img-fluid

      .row.justify-content.my-5 

        p Así mismo, esta ley especificó las competencias del Ministerio de Cultura como organismo rector, que a través de la Dirección de Cinematografía traza las políticas y adopta decisiones para el desarrollo cultural, artístico, industrial y comercial de la cinematografía nacional.

        section.my-5
            .card
                .card-body
                    .question.mt-2           
                        .question-header
                            .question-number
                                i.fa.fa-lg.fa-gavel 
                            .question-title
                                span Artículo 4°. Competencias. 
                        .question-body                
                            p.mb-5 El Estado, a través de las instancias designadas en la ley 397 de 1997, promoverá en congruencia con las normas vigentes, todas las medidas que estén a su alcance para el logro de los propósitos nacionales señalados en el artículo primero, en torno a la actividad cinematográfica en Colombia.
                            
                            p En concordancia con las disposiciones de la ley 397 de 1997 y demás normas aplicables, compete al Ministerio de Cultura como organismo rector, a través de la Dirección de Cinematografía:
                            .row.justify-content-between.align-items-start.mt-5
                                .col-12.col-lg-6
                                    p.header-step
                                        span.header-step-number 01
                                        span.header-step-title Trazar las políticas y adoptar decisiones para el desarrollo cultural, artístico, industrial y comercial de la cinematografía nacional, así como para su conservación, preservación y divulgación.
                                    hr
                                    p.header-step
                                        span.header-step-number 02
                                        span.header-step-title Promover y velar por condiciones de participación y competitividad para la obra cinematográfica colombiana y dictar normas sobre porcentajes de participación nacionales en obras cinematográficas colombianas, cuando estos no se encuentren previstos en la ley.

                                    hr
                                    p.header-step
                                        span.header-step-number 03
                                        span.header-step-title Otorgar los estímulos e incentivos previstos en la Ley 397 y vigilar el adecuado funcionamiento del Fondo para el Desarrollo Cinematográfico.
                                    hr
                                    p.header-step
                                        span.header-step-number 04
                                        span.header-step-title Proteger y ampliar los espacios dedicados a la exhibición audiovisual y clasificar las salas de exhibición cinematográfica en cuanto en este último caso así lo estime necesario. Esta clasificación tendrá en cuenta elementos relativos a la modalidad y calidad de la proyección, características físicas, precios y clase de películas que exhiban. Es obligación de los exhibidores anunciar públicamente, según lo disponga el Ministerio de Cultura, la clasificación de la sala y mantener la clasificación asignada, salvo modificación, en las condiciones de aquella.
                                    hr
                                    p.header-step
                                        span.header-step-number 05
                                        span.header-step-title Velar por el cumplimiento de las disposiciones constitucionales, legales y reglamentarias relacionadas con la actividad cinematográfica en Colombia, así como con la adecuada explotación y prestación de servicios cinematográficos.
                                    hr
                                .col-12.col-lg-6
                                    p.header-step
                                        span.header-step-number 06
                                        span.header-step-title Mantener, para efectos del adecuado seguimiento y control a la Cuota para el Desarrollo Cinematográfico y ejecución de los recursos del Fondo para el Desarrollo Cinematográfico y para el cumplimiento de las políticas públicas a su cargo, un Sistema de Información y Registro Cinematográfico, que se denominará SIREC, sobre agentes o sectores participantes de la actividad cinematográfica en Colombia, y, en general, de comercialización de obras en los diferentes medios o soportes, niveles de asistencia a las salas de exhibición. Es obligación de los agentes participantes de la actividad cinematográfica, suministrar la información que el Ministerio de Cultura requiera para efectos de la conformación y mantenimiento del SIREC, la cual tendrá carácter reservado y podrá considerarse solo en relación con los cometidos generales de las normas sobre la materia. Para efectos del sistema de información el ministerio, podrá establecer registros obligatorios de agentes del sector, de boletería, modalidades de taquilla y sistemas de inspección que sean necesarios. Ninguna sala o sitio de exhibición pública de obras cinematográficas podrá funcionar en el territorio nacional sin su previo registro ante el Ministerio de Cultura, el cual será posterior a la tramitación de los permisos y licencias requeridos ante las demás instancias públicas competentes. Igualmente, deberá efectuarse el registro de cierre de salas. Los registros efectuados con anterioridad a esta ley tendrán validez.
                                    hr
                                    p.header-step
                                        span.header-step-number 07
                                        span.header-step-title Imponer o promover, según el caso, las sanciones y multas a los agentes de la actividad cinematográfica, de acuerdo con los parámetros definidos en esta ley.
                                    hr

      .row.justify-content.my-5 
        p Creó la contribución parafiscal, Cuota para el Desarrollo Cinematográfico (CDC), que debe ser pagada por exhibidores cinematográficos, distribuidores que comercialicen derechos de exhibición de películas para salas de cine en Colombia y los productores de largometrajes colombianos, así:

        section.my-5
            .card
                .card-body
                    .question.mt-2           
                        .question-header
                            .question-number
                                i.fa.fa-lg.fa-gavel 
                            .question-title
                                span Artículo 5°. Cuota para Desarrollo Cinematográfico.
                        .question-body                
                            p.mb-5 Para apoyar los objetivos trazados en esta ley y en la Ley 397 de 1997, créase una contribución parafiscal, denominada Cuota para el Desarrollo Cinematográfico, a cargo de los exhibidores cinematográficos, los distribuidores que realicen la actividad de comercialización de derechos de exhibición de películas cinematográficas para salas de cine o salas de exhibición establecidas en territorio nacional y los productores de largometrajes colombianos, la cual se liquidará así:
                            .row.justify-content-between.align-items-start.mt-5
                                .col-12.col-lg-6
                                    p.header-step
                                        span.header-step-number 01
                                        span.header-step-title Para los exhibidores: un ocho punto cinco por ciento (8.5 %) a cargo de los exhibidores cinematográficos, sobre el monto neto de sus ingresos obtenidos por la venta o negociación de derechos de ingreso a la exhibición cinematográfica en salas de cine o sala de exhibición, cualquiera sea la forma que estos adopten. Este ingreso neto se tomará una vez descontado el porcentaje de ingresos que corresponda al distribuidor y al productor, según el caso.
                                    hr
                                    p.header-step
                                        span.header-step-number 02
                                        span.header-step-title Un ocho punto cinco por ciento (8.5 %) a cargo de los distribuidores o de quienes realicen la actividad de comercialización de derechos de exhibición de películas cinematográficas no colombianas para salas de cine establecidas en el territorio nacional, sobre el monto neto de sus ingresos obtenidos por la venta o negociación de tales derechos bajo cualquier modalidad.

                                    hr
                                .col-12.col-lg-6
                                    p.header-step
                                        span.header-step-number 03
                                        span.header-step-title Un cinco por ciento (5b%) a cargo de los productores de largometrajes colombianos sobre los ingresos netos que les correspondan, cualquiera sea la forma o denominación que adopte dicho ingreso, por la exhibición de la película cinematográfica en salas de exhibición en el territorio nacional. En ningún caso la cuota prevista en este numeral, podrá calcularse sobre un valor inferior al treinta por ciento (30 %) de los ingresos en taquilla que genere la película por la exhibición en salas de cine en Colombia. No se causará la Cuota sobre los ingresos que correspondan al productor por la venta o negociación de derechos de exhibición que se realice con exclusividad para medios de proyección fuera del territorio nacional o, también con exclusividad, para medios de proyección en el territorio nacional diferentes a las salas de exhibición.
                                    hr

      .row
        .col-12
          .header-arrow.my-5
            h3.text-center Ejemplo cálculo Cuota para el Desarrollo Cinematográfico – CDC

      .row.justify-content-center.align-items-center.my-5    
        img(src="assets/images/pages/tema-3/Imagen2.png", alt="").img-fluid

      .row.justify-content.my-5 
        p Como herramienta para incentivar la exhibición de obras colombianas, se determinó que estas no generen cuota a cargo del exhibidor ni del distribuidor y una disminución del 6.25 % para los exhibidores por presentar cortometrajes nacionales antes de las funciones principales.


        section.my-5
            .card
                .card-body
                    .question.mt-2           
                        .question-header
                            .question-number
                                i.fa.fa-lg.fa-gavel 
                            .question-title
                                span Artículo 14º. Estímulos a la exhibición de cortometrajes colombianos.
                        .question-body                
                            p.mb-5 Los exhibidores cinematográficos podrán descontar directamente, en beneficio de la actividad de exhibición, en seis punto veinticinco (6.25) puntos porcentuales, la contribución a su cargo cuando exhiban cortometrajes colombianos certificados como tales, de conformidad con las normas sobre la materia.


      .row
        .col-12
          .header-arrow.my-5
            h3.text-center Ejemplo cálculo Cuota para el Desarrollo Cinematográfico – CDC, a cargo del exhibidor, aplicando el estímulo a la exhibición de cortometrajes colombianos.

      .row.justify-content-center.align-items-center.my-5    
        img(src="assets/images/pages/tema-3/Imagen3.png", alt="").img-fluid

      .row.justify-content.my-5 

        p Además, se determinó que los recursos de la Cuota para el Desarrollo Cinematográfico no forman parte del presupuesto general de la Nación, y por lo tanto, deben ingresar a una cuenta especial denominada Fondo para el Desarrollo Cinematográfico, administrada por Proimágenes Colombia, en virtud de un contrato celebrado con el Ministerio de Cultura, y cuyo control fiscal debe ser ejercido por la Contraloría General de la República.

        section.my-5
            .card
                .card-body
                    .question.mt-2           
                        .question-header
                            .question-number
                                i.fa.fa-lg.fa-gavel 
                            .question-title
                                span Artículo 9°. Administración de la Cuota para el Desarrollo Cinematográfico.
                        .question-body                
                            p.mb-5 Los recursos de la Cuota para el Desarrollo Cinematográfico y los que en esta ley se señalan, ingresarán a una cuenta especial denominada Fondo para el Desarrollo Cinematográfico, la cual será administrada y manejada mediante contrato que celebre el Ministerio de Cultura con el Fondo Mixto de Promoción Cinematográfica, creado de conformidad con el artículo 46 de la Ley 397 de 1997. El respectivo contrato estatal, celebrado en forma directa, dispondrá lo relativo a la definición de las actividades, proyectos, metodologías de elegibilidad, montos y porcentajes que pueden destinarse a cada área de la actividad cinematográfica.


      .row.justify-content.my-5                             
        p Esta ley de Cine creó el Fondo para el Desarrollo Cinematográfico como una cuenta especial, no es una entidad ni una empresa; es una cuenta en la que deben ingresar los recursos captados por la Cuota para el Desarrollo Cinematográfico y algunos otros así:


        section.my-5
            .card
                .card-body
                    .question.mt-2           
                        .question-header
                            .question-number
                                i.fa.fa-lg.fa-gavel 
                            .question-title
                                span Artículo 10º. Fondo para el Desarrollo Cinematográfico.
                        .question-body                
                            p.mb-5 Créase el Fondo para el Desarrollo Cinematográfico como una cuenta especial, sin personería jurídica, administrada por el Fondo Mixto de Promoción Cinematográfica, de conformidad con lo previsto en el artículo anterior, cuyos recursos estarán constituidos por:
                            .row.justify-content-between.align-items-start.mt-5
                                .col-12.col-lg-6
                                    p.header-step
                                        span.header-step-number 01
                                        span.header-step-title El producto de la Cuota para el Desarrollo Cinematográfico, incluidos los rendimientos financieros que produzca.
                                    hr
                                    p.header-step
                                        span.header-step-number 02
                                        span.header-step-title Los recursos derivados de las operaciones que se realicen con los recursos del Fondo.

                                    hr
                                    p.header-step
                                        span.header-step-number 03
                                        span.header-step-title El producto de la venta o liquidación de sus inversiones.
                                    hr
                                    p.header-step
                                        span.header-step-number 04
                                        span.header-step-title Las donaciones, transferencias y aportes en dinero que reciba.
                                    hr
                                .col-12.col-lg-6
                                    p.header-step
                                        span.header-step-number 05
                                        span.header-step-title Aportes provenientes de cooperación internacional.
                                    hr
                                    p.header-step
                                        span.header-step-number 06
                                        span.header-step-title Las sanciones e intereses que en virtud del convenio celebrado con el administrador del Fondo, imponga la Dirección de Impuestos y Aduanas Nacionales por incumplimiento de los deberes de retención, declaración y pago de la Cuota para el Desarrollo Cinematográfico.
                                    hr
                                    p.header-step
                                        span.header-step-number 07
                                        span.header-step-title Los recursos que se le asignen en el presupuesto nacional.
                                    hr


      .row.justify-content.my-5 
        p Así mismo, determinó los conceptos en los cuales pueden ser ejecutados los recursos del Fondo para el Desarrollo Cinematográfico.

        section.my-5
            .card
                .card-body
                    .question.mt-2           
                        .question-header
                            .question-number
                                i.fa.fa-lg.fa-gavel 
                            .question-title
                                span Artículo 11º. Destinación de los recursos del Fondo para el Desarrollo Cinematográfico.
                        .question-body                
                            p.mb-5 Los recursos del Fondo para el Desarrollo Cinematográfico se ejecutarán con destino a:
                            .row.justify-content-between.align-items-start.mt-5
                                .col-12.col-lg-6
                                    p.header-step
                                        span.header-step-number 01
                                        span.header-step-title Concesión de estímulos e incentivos iguales a los previstos en los artículos 41 y 45 de la Ley 397 de 1997, incluidos subsidios de recuperación a la producción y coproducción colombianas.
                                    hr
                                    p.header-step
                                        span.header-step-number 02
                                        span.header-step-title Estímulos y subsidios de recuperación por exhibición de obras cinematográficas colombianas en salas de cine.

                                    hr
                                    p.header-step
                                        span.header-step-number 03
                                        span.header-step-title Créditos a la realización cinematográfica en condiciones preferenciales, a través de entidades de crédito.
                                    hr
                                    p.header-step
                                        span.header-step-number 04
                                        span.header-step-title Créditos en condiciones preferenciales para establecimiento o mejoramiento de infraestructura de exhibición, a través de entidades de crédito.
                                    hr
                                    p.header-step
                                        span.header-step-number 05
                                        span.header-step-title Créditos en condiciones preferenciales para establecimiento de laboratorios de procesamiento cinematográfico, a través de entidades de crédito.
                                    hr
                                    p.header-step
                                        span.header-step-number 06
                                        span.header-step-title Otorgamiento de garantías a la producción cinematográfica, a través de entidades de crédito.
                                    hr
                                .col-12.col-lg-6
                                    p.header-step
                                        span.header-step-number 07
                                        span.header-step-title Conformación del Sistema de Información y Registro Cinematográfico, SIREC.
                                    hr
                                    p.header-step
                                        span.header-step-number 08
                                        span.header-step-title Investigación en cinematografía, realización de estudios de factibilidad para el establecimiento o mejora de la infraestructura cinematográfica, asistencia técnica y estímulos a la formación en diferentes áreas de la cinematografía.
                                    hr
                                    p.header-step
                                        span.header-step-number 09
                                        span.header-step-title Acciones contra la violación a los derechos de autor en la comercialización, distribución y exhibición de obras cinematográficas.
                                    hr
                                    p.header-step
                                        span.header-step-number 10
                                        span.header-step-title Estímulos a los sujetos de la contribución previstos en el numeral 2 del artículo 5º de esta ley.
                                    hr
                                    p.header-step
                                        span.header-step-number 11
                                        span.header-step-title Hasta un diez por ciento (10 %) como remuneración al administrador del Fondo para el Desarrollo Cinematográfico.
                                    hr

      .row.justify-content.my-5         

        p Al menos el setenta por ciento (70 %) de los recursos del Fondo para el Desarrollo Cinematográfico serán arbitrados hacia la creación, producción, coproducción y, en general, a la realización de largometrajes y cortometrajes colombianos.

        p El conjunto de incentivos, estímulos y créditos aquí previstos se asignarán exclusivamente en proporción a la participación nacional en el proyecto de que se trate, según el caso.

        p En ningún evento, los recursos del Fondo podrán destinarse por el administrador del mismo para actuar como coproductor de películas o compartir riesgos en los proyectos, sin perjuicio del pacto que, según el caso, se establezca con terceros sobre participación en utilidades.

        p También, responsabilizó de la dirección del Fondo para el Desarrollo Cinematográfico al Consejo Nacional de las Artes y de la Cultura en Cinematografía, cuya composición, reglamentada en el Decreto No 2291 del 12 de agosto de 2003, es:

        ol
          li El Ministro de Cultura o el Viceministro de Cultura, quien lo presidirá.
          li El Director de Cinematografía del Ministerio de Cultura.
          li Dos representantes con amplia trayectoria en el sector cinematográfico designados por el Ministro de Cultura.
          li Un representante de los Consejos Departamentales de la Cinematografía.
          li Un representante de los Productores de Largometraje.
          li Un representante de los Distribuidores.
          li Un representante de los Exhibidores.
          li Un representante de los Directores.

        p De igual manera, asignó la Secretaría Técnica del Consejo Nacional de las Artes y de la Cultura en Cinematografía al administrador del Fondo para el Desarrollo Cinematográfico, quien participa con voz, pero sin voto, y definió las siguientes funciones al Consejo:

        p #[strong DECRETO 2291 DE 2003]

        section.my-5
            .card
                .card-body
                    .question.mt-2           
                        .question-header
                            .question-number
                                i.fa.fa-lg.fa-gavel 
                            .question-title
                                span ARTÍCULO 1º. Funciones del Consejo Nacional de las Artes y la Cultura en Cinematografía.
                        .question-body                
                            p.mb-5 El Consejo Nacional de las Artes y la Cultura en Cinematografía es el encargado de la dirección del Fondo para el Desarrollo Cinematográfico, y ejercerá, además de las funciones señaladas en la ley y en el artículo 5° del Decreto 1494 de 1998, las siguientes:
                            .row.justify-content-between.align-items-start.mt-5
                                .col-12.col-lg-6
                                    p.header-step
                                        span.header-step-number 01
                                        span.header-step-title Dirigir el Fondo para el Desarrollo Cinematográfico.
                                    hr
                                    p.header-step
                                        span.header-step-number 02
                                        span.header-step-title Aprobar el presupuesto del Fondo para el Desarrollo Cinematográfico para cada vigencia anual.

                                    hr
                                    p.header-step
                                        span.header-step-number 03
                                        span.header-step-title Establecer, dentro de los dos (2) últimos meses de cada año, mediante acto de carácter general (acuerdo), las actividades, porcentajes, montos, límites, modalidades de concurso o solicitud directa y demás requisitos y condiciones necesarias para acceder a los beneficios, estímulos y créditos asignables con los recursos del Fondo para el Desarrollo Cinematográfico en el año fiscal siguiente.
                                    hr
                                    p.header-step
                                        span.header-step-number 04
                                        span.header-step-title Decidir y asignar sobre la destinación de los recursos del Fondo para el Desarrollo Cinematográfico.
                                    hr
                                .col-12.col-lg-6
                                    p.header-step
                                        span.header-step-number 05
                                        span.header-step-title Establecer, cuando lo considere necesario, subcomités para efectos de la evaluación y selección técnica y financiera de los proyectos que participen para acceder a los beneficios, estímulos y créditos asignables con los recursos del Fondo para el Desarrollo Cinematográfico.
                                    hr
                                    p.header-step
                                        span.header-step-number 06
                                        span.header-step-title Apoyar al Ministerio de Cultura para que sus proyectos y actividades tengan el mayor cubrimiento y el máximo impacto en el avance del sector cinematográfico.
                                    hr
                                    p.header-step
                                        span.header-step-number 07
                                        span.header-step-title Mantener informado permanentemente al sector de las decisiones que tome, a través de medios electrónicos o cualquiera otro idóneo.
                                    hr

      .row.justify-content.my-5 
        p Creó este decreto beneficios tributarios a la donación o inversión en producción cinematográfica para incentivar a los contribuyentes del impuesto a la renta, a realizar inversiones o donaciones en dinero a proyectos cinematográficos colombianos de largometraje o cortometraje y, como resultado, deducir de su renta, por el período gravable en que se realice la inversión o donación, el ciento veinticinco por ciento (125 %) del valor real invertido o donado.


        section.my-5
            .card
                .card-body
                    .question.mt-2           
                        .question-header
                            .question-number
                                i.fa.fa-lg.fa-gavel 
                            .question-title
                                span Artículo 16º. Beneficios tributarios a la donación o inversión en producción cinematográfica.
                        .question-body                
                            p.mb-5 Los contribuyentes del impuesto a la renta que realicen inversiones o hagan donaciones a proyectos cinematográficos de producción o coproducción colombiana, de largometraje o cortometraje aprobados por el Ministerio de Cultura a través de la Dirección de Cinematografía, tendrán derecho a deducir de su renta, por el período gravable en que se realice la inversión o donación, e independientemente de su actividad productora de la renta, el ciento veinticinco por ciento (125 %) del valor real invertido o donado. Para tener acceso a la deducción prevista en este artículo, deberán expedirse por el Ministerio de Cultura, a través de la Dirección de Cinematografía, certificaciones de la inversión o donación denominados, según el caso, Certificados de Inversión Cinematográfica o Certificados de Donación Cinematográfica. Las inversiones o donaciones aceptables, para efectos de lo previsto en este artículo, deberán realizarse exclusivamente en dinero. El Gobierno Nacional reglamentará las condiciones, términos y requisitos para gozar de este beneficio, el cual, en ningún caso será otorgado a cine publicitario o telenovelas, así como las características de los certificados de inversión o donación cinematográfica que expida el Ministerio de Cultura a través de la Dirección de Cinematografía.