.container#page-tema-3

    .header-ecored
      h1 5. Ley 1556 de 2012

    .jumbotron.bg-white
      .row.justify-content.my-5 
        p El 9 de julio de 2012, el Gobierno publicó la Ley 1556, con la cual se busca fomentar la actividad cinematográfica en el territorio nacional, la actividad turística y la imagen del país, mediante la devolución del cuarenta por ciento (40 %) de los gastos en servicios cinematográficos y el veinte por ciento (20 %) de los gastos en servicios logísticos que sean pagados a personas naturales y/o jurídicas colombianas para la ejecución del proyecto, denominada en la ley como contraprestación.

        p Lo primero que aborda esta ley es un glosario de términos fundamentales para la implementación de la misma:

        section.my-5
            .card
                .card-body
                    .question.mt-2           
                        .question-header
                            .question-number
                                i.fa.fa-lg.fa-tint.fa-gavel 
                            .question-title
                                span ARTÍCULO 2. DEFINICIONES.
                        .question-body
                            p.mb-5 Para los efectos de esta ley se aplican las siguientes definiciones:        
                            .row.justify-content-between.align-items-start.mt-5
                                .col-12.col-lg-6
                                    p.header-step
                                        span.header-step-number 01
                                        span.header-step-title Obra cinematográfica nacional. Será la que cumpla con los requisitos establecidos en los Decretos 358 de 2000 y 763 de 2009 y las normas que los modifiquen y establezcan equivalencias sobre la misma.
                                    hr
                                    p.header-step
                                        span.header-step-number 02
                                        span.header-step-title Obra cinematográfica extranjera. Aquella que, siendo una obra cinematográfica conforme a las disposiciones nacionales, no reúne los requisitos para ser considerada como obra cinematográfica nacional. 

                                    hr
                                .col-12.col-lg-6
                                    p.header-step
                                        span.header-step-number 03
                                        span.header-step-title Servicios cinematográficos. Actividades especializadas, directamente relacionadas con la preproducción, producción y posproducción de obras cinematográficas, incluyendo servicios artísticos y técnicos, prestados por personas naturales o jurídicas colombianas residentes o domiciliadas en el país.
                                    hr
                                    p.header-step
                                        span.header-step-number 04
                                        span.header-step-title Sociedad de servicios cinematográficos. Sociedades legalmente constituidas en Colombia, cuyo objeto sea la prestación de servicios cinematográficos, inscritas en el Registro de Prestadores de Servicios Cinematográficos del Ministerio de Cultura.
                                    hr

        p Los recursos para efectuar las devoluciones de las que trata esta ley provienen del presupuesto nacional y son administrados por Proimágenes Colombia, en una cuenta especial del Ministerio de Comercio, Industria y Turismo, denominada Fondo Fílmico Colombia.

        section.my-5
            .card
                .card-body
                    .question.mt-2           
                        .question-header
                            .question-number
                                i.fa.fa-lg.fa-tint.fa-gavel 
                            .question-title
                                span ARTÍCULO 3. FONDO FÍLMICO COLOMBIA.
                        .question-body
                            p.mb-5 Créase el Fondo Fílmico Colombia (FFC), como una cuenta especial del Ministerio de Comercio, Industria y Turismo, cuyos recursos están constituidos por:          
                            .row.justify-content-between.align-items-start.mt-5
                                .col-12.col-lg-6
                                    p.header-step
                                        span.header-step-number 01
                                        span.header-step-title Los que se le asignen anualmente en el presupuesto nacional.
                                    hr
                                    p.header-step
                                        span.header-step-number 02
                                        span.header-step-title Los derivados de los rendimientos financieros y operativos del Fondo Fílmico Colombia (FFC). 

                                    hr
                                    p.header-step
                                        span.header-step-number 03
                                        span.header-step-title El producto de la venta o liquidación de sus inversiones.
                                    hr
                                .col-12.col-lg-6
                                    p.header-step
                                        span.header-step-number 04
                                        span.header-step-title Las donaciones, transferencias y aportes en dinero que reciba.
                                    hr
                                    p.header-step
                                        span.header-step-number 05
                                        span.header-step-title Los aportes de cooperación internacional.
                                    hr

        .row.justify-content-center.mt-5
            .col-10.col-md-8
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/paragrafo.png").img-fluid
                        p.card__copy 
                            span 
                                | PARÁGRAFO 1o. La entidad administradora del Fondo Fílmico Colombia (FFC) podrá constituir patrimonios autónomos, previa autorización del Comité Promoción Fílmica Colombia de que trata el artículo 6o de la presente ley.
        .row.justify-content-center.mt-5
            .col-10.col-md-8
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/paragrafo.png").img-fluid
                        p.card__copy 
                            span 
                                | PARÁGRAFO 2o. La partida del Presupuesto Nacional asignada anualmente para el Fondo Fílmico Colombia (FFC) no afectará los topes fiscales establecidos en las normas presupuestales y se consideran una adición al presupuesto del Ministerio de Comercio, Industria y Turismo.
        .row.justify-content-center.mt-5
            .col-10.col-md-8
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/paragrafo.png").img-fluid
                        p.card__copy 
                            span 
                                | PARÁGRAFO 3o. De conformidad con el artículo 267 de la Constitución Política, la Contraloría General de la República ejercerá control fiscal sobre los recursos del Fondo Fílmico Colombia (FFC).


        section.my-5
            .card
                .card-body
                    .question.mt-2           
                        .question-header
                            .question-number
                                i.fa.fa-lg.fa-tint.fa-gavel 
                            .question-title
                                span ARTÍCULO 4o. ADMINISTRACIÓN Y EJECUCIÓN DE RECURSOS DEL FONDO FÍLMICO COLOMBIA (FFC).
                        .question-body
                            p.mb-5  El Ministerio de Comercio, Industria y Turismo administrará y ejecutará los recursos del Fondo Fílmico Colombia (FFC) a través de una entidad administradora que, a elección del Ministerio de Comercio, Industria y Turismo, podrá ser una entidad fiduciaria o el Fondo Mixto de Promoción Cinematográfica – Proimágenes Colombia, creado por la Ley 397 de 1997.        

        p En el artículo 6 se creó el Comité Promoción Fílmica Colombia como ente rector del Fondo Fílmico Colombia, al que se le atribuyen las siguientes funciones:

        section.my-5
            .card
                .card-body
                    .question.mt-2           
                        .question-header
                            .question-number
                                i.fa.fa-lg.fa-tint.fa-gavel 
                            .question-title
                                span ARTÍCULO 6o. COMITÉ PROMOCIÓN FÍLMICA COLOMBIA.
                        .question-body
                            p.mb-5 Créase el Comité Promoción Fílmica Colombia (CPFC), como órgano directivo del Fondo Fílmico Colombia (FFC), que tendrá a su cargo:         
                            .row.justify-content-between.align-items-start.mt-5
                                .col-12.col-lg-6
                                    p.header-step
                                        span.header-step-number 01
                                        span.header-step-title Aprobar el manual de asignación de recursos y el manual de contratación por el cual deberá seguirse la entidad administradora del Fondo Fílmico Colombia (FFC).
                                    hr
                                    p.header-step
                                        span.header-step-number 02
                                        span.header-step-title Aprobar el presupuesto de gastos de la administración y control.

                                    hr
                                    p.header-step
                                        span.header-step-number 03
                                        span.header-step-title Aprobar los proyectos de filmación en Colombia y la celebración de los contratos correspondientes entre el administrador y el productor cinematográfico.
                                    hr
                                .col-12.col-lg-6
                                    p.header-step
                                        span.header-step-number 04
                                        span.header-step-title Aprobar los proyectos para la promoción del territorio nacional para el desarrollo de actividades cinematográficas y lugar de filmación y decidir sobre su ejecución.
                                    hr
                                    p.header-step
                                        span.header-step-number 05
                                        span.header-step-title Aprobar su propio reglamento.
                                    hr

        p Por tratarse de una cuenta especial del Ministerio de Comercio, Industria y Turismo, es esta cartera quien preside el Comité Promoción Fílmica Colombia, pero debido a que sus actividades están relacionadas con el fomento de la cinematografía, el Ministerio de Cultura también forma parte del ente rector junto con otros designados así:

        section.my-5
            .card
                .card-body
                    .question.mt-2           
                        .question-header
                            .question-number
                                i.fa.fa-lg.fa-tint.fa-gavel 
                            .question-title
                                span ARTÍCULO 7o. INTEGRACIÓN DEL COMITÉ PROMOCIÓN FÍLMICA COLOMBIA.
                        .question-body
                            p.mb-5 El Comité estará integrado por:       
                            .row.justify-content-between.align-items-start.mt-5
                                .col-12.col-lg-6
                                    p.header-step
                                        span.header-step-number 01
                                        span.header-step-title El Ministro de Comercio, Industria y Turismo, quien lo presidirá.
                                    hr
                                    p.header-step
                                        span.header-step-number 02
                                        span.header-step-title El Ministro de Cultura.

                                    hr
                                    p.header-step
                                        span.header-step-number 03
                                        span.header-step-title El Presidente de Proexport.
                                    hr
                                .col-12.col-lg-6
                                    p.header-step
                                        span.header-step-number 04
                                        span.header-step-title Dos representantes con amplia trayectoria en el sector cinematográfico, designados por el Presidente de la República.
                                    hr
                                    p.header-step
                                        span.header-step-number 05
                                        span.header-step-title El representante de los productores en el Consejo Nacional de las Artes y la Cultura Cinematográfica (CNACC).
                                    hr
                                    p.header-step
                                        span.header-step-number 06
                                        span.header-step-title El Director de Cinematografía del Ministerio de Cultura.
                                    hr

        .row.justify-content-center.mt-5
            .col-10.col-md-8
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/paragrafo.png").img-fluid
                        p.card__copy 
                            span 
                                | PARÁGRAFO 1o. Los Ministros podrán delegar su representación en un viceministro y el Ministro de Comercio, Industria y Turismo en el Viceministro de Turismo. Los demás miembros no podrán delegar su participación.
        .row.justify-content-center.mt-5
            .col-10.col-md-8
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/paragrafo.png").img-fluid
                        p.card__copy 
                            span 
                                | PARÁGRAFO 2o. En ausencia del Ministro de Comercio, Industria y Turismo, presidirá el Ministro de Cultura y en ausencia de estos, presidirá el Viceministro de Turismo del Ministerio de Comercio, Industria y Turismo. En todo caso el Comité no podrá sesionar sin la participación del Ministerio de Comercio, Industria y Turismo o del Ministerio de Cultura.
        .row.justify-content-center.mt-5
            .col-10.col-md-8
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/paragrafo.png").img-fluid
                        p.card__copy 
                            span 
                                | PARÁGRAFO 3o. El Director del Fondo Mixto de Promoción Cinematográfica – Proimágenes Colombia tendrá la calidad de asistente permanente y participará con voz pero sin voto.
        .row.justify-content-center.mt-5
            .col-10.col-md-8
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/paragrafo.png").img-fluid
                        p.card__copy 
                            span 
                                | PARÁGRAFO 4o. Los miembros del Comité no podrán por sí o por interpuesta persona acceder a los recursos del Fondo Fílmico Colombia (FFC).

        p Para establecer los principios, los requisitos y las condiciones para la aprobación de proyectos y la concreción de la contraprestación del FFC, el Comité Promoción Fílmica expidió el Manual de Asignación de Recursos adoptado mediante el Acuerdo No. 038 de 2017.