.container#page-tema-2

    .header-ecored
      h1 2. Ley General de Cultura

    .jumbotron.bg-white 

      .row.justify-content-center.align-items-center.my-5 

        p Por la cual se desarrollan los artículos 70, 71 y 72 y demás artículos concordantes de la Constitución Política, y se dictan normas sobre patrimonio cultural, fomentos y estímulos a la cultura, se crea el Ministerio de la Cultura y se trasladan algunas dependencias.

        p En 1997 fue aprobada la Ley 397 o Ley General de Cultura, con la cual se pretendió devolver al cine nacional su importancia y carácter de interés público, y al Estado la obligación de protegerlo.

        p Creó el Ministerio de Cultura como órgano rector y le otorgó facultades para entregar estímulos económicos a las distintas etapas de creación cinematográfica, sin ejercer censura sobre la forma y el contenido de las realizaciones.

      hr.bd-hr-blue     
      .timeline

        .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
          .col-10.col-md-5.order-3.order-md-1.timeline-content
              p.px-5.py-5 Ministerio de Cultura. Créase el Ministerio de Cultura como organismo rector de la cultura, encargado de formular, coordinar, ejecutar y vigilar la política del Estado en la materia, en concordancia con los planes y programas de desarrollo, según los principios de participación contemplados en esta ley.
          .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date
              time.text-title Artículo 66°
          .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
              img.img-fluid(src='assets/images/pages/ilustraciones/time.png', alt='img')

        .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
          .col-10.col-md-5.order-3.order-md-1.timeline-content
              p.px-5.py-5 De los estímulos. El Estado, a través del Ministerio de Cultura y las entidades territoriales, establecerá estímulos especiales y promocionará la creación, la actividad artística y cultural, la investigación y el fortalecimiento de las expresiones culturales.
          .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date
              time.text-title Artículo 18°
          .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
              img.img-fluid(src='assets/images/pages/ilustraciones/time.png', alt='img') 

      .row
        .col-12
          .header-arrow.my-5
            h3 Creó también el Fondo Mixto de Promoción Cinematográfica “Proimágenes en Movimiento”, hoy “Proimágenes Colombia”, para que autónomamente y bajo el derecho privado, trabaje en la consolidación del sector cinematográfico colombiano, a través de la concertación de políticas públicas y sectoriales, recaude los recursos de la cuota para el desarrollo cinematográfico y los ejecute eficientemente en las líneas permitidas por la ley.
    
      .timeline

        .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
          .col-10.col-md-5.order-3.order-md-1.timeline-content
              p.px-5.py-5 Fondo Mixto de Promoción Cinematográfica. Autorizase al Ministerio de Cultura para crear el Fondo Mixto de Promoción Cinematográfica, y para aportar recursos del presupuesto.
          .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date
              time.text-title Artículo 46°
          .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
              img.img-fluid(src='assets/images/pages/ilustraciones/time.png', alt='img')

      .row
        .col-12
          .header-arrow.my-5
            h3.text-center Además, precisó varios conceptos relacionados con la actividad artística y cultural del país así:
      .timeline
        .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
          .col-10.col-md-5.order-3.order-md-1.timeline-content
              p.px-5.py-5 De las empresas cinematográficas colombianas.
              
              p Considerase como empresas cinematográficas colombianas, aquellas cuyo capital suscrito y pagado nacional sea superior al cincuenta y uno por ciento (51 %) y cuyo objeto sea la narración hecha con imágenes y sonidos, impresa por medio de procesos ópticos sobre un soporte de celulosa, de impresión electrónica y otros que se inventen en el futuro con el mismo fin.

          .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date
              time.text-title Artículo 42°
          .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
              img.img-fluid(src='assets/images/pages/ilustraciones/time.png', alt='img')

        .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
          .col-10.col-md-5.order-3.order-md-1.timeline-content
              br
              p.px-5 De la nacionalidad de la producción cinematográfica. 

              p.px-5 Se entiende por producción cinematográfica colombiana de largometraje, la que reúna los siguientes requisitos:

              p.px-5 1. Que el capital colombiano invertido no sea inferior al 51%. 
              p.px-5 2. Que su personal técnico sea del 51% mínimo y el artístico no sea inferior al 70 %. 
              p.px-5 3. Que su duración en pantalla sea de 70 minutos o más y para televisión 52 minutos o más.

          .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date
              time.text-title Artículo 43°
          .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
              img.img-fluid(src='assets/images/pages/ilustraciones/time.png', alt='img')

      .row
        .col-12
          .header-arrow.my-5
            h3.text-center La participación de personal técnico y artístico fue reglamentada a través del Decreto 1080 de 2015, que será descrito más adelante.
      .timeline
        .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
          .col-10.col-md-5.order-3.order-md-1.timeline-content
              br
              p.px-5 De la coproducción colombiana. Se entiende por coproducción cinematográfica colombiana de largometraje la que reúna los siguientes requisitos: 
              p.px-5 1. Que sea producida conjuntamente por empresas cinematográficas colombianas y extranjeras.
              p.px-5 2. Que la participación económica nacional no sea inferior al veinte por ciento (20 %). 
              p.px-5 3. Que la participación artística colombiana que intervenga en ella sea equivalente al menos al 70 % de la participación económica nacional y compruebe su trayectoria o competencia en el sector cinematográfico.

          .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date
              time.text-title Artículo 44°
          .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
              img.img-fluid(src='assets/images/pages/ilustraciones/time.png', alt='img')
      hr.bd-hr-blue

      .row

        p.my-5 En resumen, la Ley 397 de 1997 aborda los siguientes puntos:

      .row.justify-content-center.align-items-center.my-5    
        img(src="assets/images/pages/tema-2/Imagen1.png", alt="").img-fluid