include mixins/functions

doctype
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title Información del programa: Caracterización de proyectos audiovisuales y fuentes de financiación
        meta(meta name="description" content="Información del programa: Caracterización de proyectos audiovisuales y fuentes de financiación.")    
        link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
        link(rel="stylesheet", href="assets/fonts/feather/feather.css")
        link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
        link(href='assets/css/fancybox.css', rel='stylesheet')
        link(href='assets/css/animate.css', rel='stylesheet')
        link(rel="stylesheet", href="assets/css/main.css")

    body#page-home.theme-dark.page-header-textura

        header#CursoPresentacion.curso-presentacion.page-header
            .page-textura
                .container

                    .curso-topbar.justify-content-center.justify-content-md-start
                        
                        a.curso-topbar__logo
                            include ../assets/images/logos/senaLogo.svg

                    .curso-portada

                        .row.align-items-center

                            .col-12.col-lg-6

                                h3.curso-subtitulo Caracterización de proyectos audiovisuales y fuentes de financiación
                                h1.curso-titulo Información del programa

                                .brand-line-primary

                                p.curso-descripcion
                                    ul.curso-descripcion
                                        li 
                                            span #[strong Nombre del programa:] Caracterización de audiencia para campañas digitales
                                        li 
                                            span #[strong Código:] 62360003
                                        li 
                                            span #[strong Total Horas:] 48
                                        li 
                                            span #[strong Duración en semanas:] 4 semanas
                                        li 
                                            span #[strong Modalidad:] virtual
                                        li 
                                            span #[strong Requisito de ingreso:] <br><br>
                                            ul 
                                                li Tener los datos actualizados en el aplicativo SofiaPlus.
                                                li Cumplir con los requisitos establecido por el SENA en el centro de formación.


                            .col-12.col-lg-6.text-center
                                .d-none.d-lg-block
                                    img(src="assets/images/header/header_media.svg").curso-imagen            


        section#Presentacion.section.section-dark

            .container

                h1  1. Presentación
                .brand-line-primary

                p.mt-5 En los últimos años se ha venido desarrollando una transformación importante en los hábitos de compra de los consumidores. Desde 1990 con la llegada de la web 1.0 que nos mostraba un universo de datos como fuente de consulta, ya se comenzaba a vislumbrar un panorama de una información cada vez más global.
                
                p En el 2004 llega la segunda generación de internet denominada web 2.0 con la que se comenzó a hablar de comunidades que se formaron con usuarios que intercambiaban información y realizaban conexiones interactivas, fortaleciendo el concepto de redes sociales y el auge de plataformas como Facebook.

                
                p Dos años después, en el 2006, aparece la web 3.0  ofreciendo una experiencia de conexión mucho más dinámica y operativa en el manejo de datos, dando un salto tecnológico abismal que le permite a los usuarios recibir información de acuerdo a sus gustos y preferencias, basándose en sus perfiles y actividades en las redes sociales y los motores de búsqueda.

                
                p Desde el 2010 viene evolucionando lo que hoy se conoce como la web 4.0 integrando inteligencia que comprende el lenguaje humano de tal forma que permite predecir acciones e interactuar más con las personas incidiendo eficazmente en su comportamiento.

                
                p En consecuencia, actualmente los consumidores están involucrando dentro de sus hábitos de compra todas las ventajas de internet y sus plataformas para informarse, evaluar y buscar lo que necesitan para finalmente tomar una decisión de compra.


                
                p De esta forma, el comercio electrónico  no solamente es un canal potencial para la relación de las marcas con sus clientes, sino, además una ventana para incrementar las ventas y romper la frontera de los mercados locales para expandir el comercio de productos y servicios a nivel global.


                
                p Por consiguiente, es significativo que las marcas sean conscientes de la relevancia de tener un conocimiento más profundo de su target, de su cliente o de su mercado objetivo para poder direccionar campañas digitales más acertadas y efectivas.

                
                p Es por esto, que el SENA a través del programa de formación Caracterización de audiencias para campañas digitales busca conceptualizar y capacitar en la construcción de perfiles de prospecto de cliente digital acorde al producto, por medio de conceptos y herramientas que permitan apoyar las diferentes marcas en el alcance de sus objetivos de social media.
                
                p En este curso obtendrá los conocimientos necesarios para investigar, comprender, identificar, analizar y definir la segmentación de audiencias para campañas digitales, partiendo del ADN y la personalidad de la marca.




        section#Justificacion.section.section-light

            .container

                h1  2. Justificación<br> del programa
                .brand-line-primary

                
                p.mt-5 A partir de la llegada de la internet 2.0 y 3.0 las fronteras locales dejaron de ser una limitante para que las diversas marcas de todos los sectores ofrezcan sus productos y servicios a un segmento de compra regional, nacional o internacional; la acelerada expansión y evolución del comercio digital ha abierto una vitrina virtual tan importante que modificó el proceso de compra de los consumidores en todo el mundo.

                p En este proceso, las redes sociales han contribuido de manera trascendental abriendo un canal comunicacional de doble dirección entre las marcas y los diferentes segmentos de mercado que antes sería imposible lograr, situación que ha puesto a las marcas a la altura de sus clientes para escuchar atentamente sus requerimientos.

                p Aun así, muchas marcas erran al momento de definir su segmento de mercado ideal, direccionando una comunicación fallida a nichos poco interesados por los productos o servicios que ofrecen y derrochando esfuerzos de tiempo y dinero en su estrategia de marketing digital.

                p Es por esto, que el SENA, a través del programa de formación “Caracterización de audiencias para campañas digitales”, busca conceptualizar y capacitar en la construcción de perfiles de prospecto de cliente digital acorde al producto, por medio de conceptos y herramientas que permitan apoyar las diferentes marcas en el alcance de sus objetivos de social media.



        section#Poblacion.section.section-dark

            .container

                h1  3. Población <br>objetivo
                .brand-line-primary

                p Este curso está dirigido a todos aquellos que deseen adquirir conocimientos que les permitan comprender aspectos del consumidor para ser implementados en futuras estrategias de marketing digital, con el fin de obtener resultados positivos en la comercialización de productos o servicios de sus proyectos, empresas o emprendimientos.


        section#Estrategia.section.section-light

            .container

                h1 4. Estrategia <br>metodológica
                .brand-line-primary

                p Centrada en la construcción de autonomía para garantizar la calidad de la formación en el marco de la formación por competencias, el aprendizaje por proyectos y el uso de técnicas didácticas activas que estimulan el pensamiento para la resolución de problemas simulados y reales; soportadas en la utilización de las tecnologías de la información y la comunicación, integradas en ambientes virtuales de aprendizaje, que en todo caso recrean el contexto productivo y vinculan al aprendiz con la realidad cotidiana y el desarrollo de las competencias. 

                p Igualmente, debe estimular de manera permanente la autocrítica y la reflexión del aprendiz sobre el que hacer y los resultados de aprendizaje que logra a través de la vinculación activa de las cuatro fuentes de información para la construcción de conocimiento:


                .row.mt-4
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/tutor.svg', style='width: 100px; height: 100px;')
                            h3.my-3 El tutor - instructor
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/entorno.svg', style='width: 100px; height: 100px;')
                            h3.my-3 Entorno
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/tic.svg', style='width: 100px; height: 100px;')
                            h3.my-3 TIC
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg(style='height: 100%;')
                            img.img-fluid(src='assets/images/info/colaborativo.svg', style='width: 100px; height: 100px;')
                            h3.my-3 Trabajo colaborativo

        +creditosFooter("assets/images/logos/senaLogo.svg")





